.site-footer {
  background-color: var(--light-grey);
  color: var(--blue);
}

.footer-links,
.footer-links-secondary,
.footer-social-media,
.gp-year,
.copyright-text,
.copyright-text a {
  color: var(--blue);
}

.footer-social-media a:hover {
  color: var(--blue);
  opacity: 0.8;
}
