.sidebar-navigation {
  display: none;
}

@media (min-width: 992px) {
  .top-navigation {
    display: none;
  }

  .sidebar-navigation {
    width: var(--sidebar-width);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: var(--sidebar-blue);
    color: var(--white);
    padding: 10px 20px;
    z-index: 99;
    font-family: Roboto;
    display: block;
  }

  .sidebar-navigation > ul {
    margin-top: 40px;
  }

  li.nav-item {
    padding-bottom: 20px;
  }

  .nav-link {
    color: var(--white);
    line-height: 1.7;
    font-weight: 700;
    padding: 0px 0px;
  }

  .nav-link:hover {
    color: var(--white);
    text-decoration: underline;
  }

  .nav-link:visited {
    color: var(--white);
  }

  li.nav-child {
    padding: 0;
  }

  li.nav-child .nav-link,
  li.nav-item {
    text-transform: none;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
  }

  .nav-search {
    margin-top: 24px;
    position: relative;
    padding-inline-start: 15px;
  }

  .nav-search .form-control {
    height: 40px;
    border: none;
    padding: 5px 10px;
  }

  .nav-search-btn {
    position: absolute;
    border: none;
    border: none;
    position: absolute;
    font-size: 1.25rem;
    line-height: 22px;
    background: white;
    color: var(--blue);
    top: 4px;
    right: 0;
  }
}
