/*
Theme Name: Greenpeace Planet 4 Handbook Theme
Theme URI: https://github.com/greenpeace/planet4-child-theme-handbook
Description: Child theme for the Planet 4 Handbook
Author: Greenpeace International
Author URI: https://github.com/greenpeace
Template: planet4-master-theme
Version: 0.0.5
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: light, accessibility-ready
Text Domain: planet4-child-theme-handbook
*/

@import 'css/variables.css';
@import 'css/navigation.css';
@import 'css/footer.css';
@import 'css/ideapush.css';

body {
  padding-left: var(--sidebar-width);
}

div.page-template {
  font-family: "Lora", serif;
}

div.page-header {
  padding-top: 104px;
}

h1, h2, h3, h4, h5, h6.page-template {
  font-family: "Roboto", sans-serif;
}