/*
Theme Name: Greenpeace Planet 4 Handbook Theme
Theme URI: https://github.com/greenpeace/planet4-child-theme-handbook
Description: Child theme for the Planet 4 Handbook
Author: Greenpeace International
Author URI: https://github.com/greenpeace
Template: planet4-master-theme
Version: 0.0.16
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: light, accessibility-ready
Text Domain: planet4-child-theme-handbook
*/

@import 'css/variables.css';
@import 'css/ideapush.css';

.sidebar-navigation {
  display: none;
}

.burger-menu-footer {
  display: none;
}

@media (min-width: 992px) {
  body {
    padding-left: var(--sidebar-width);
  }

  .top-navigation {
    display: none;
  }

  .site-logo {
    margin-inline-start: 0;
    padding: 0 20px;
  }

  .sidebar-navigation {
    width: var(--sidebar-width);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: var(--beige-100);
    color: var(--grey-900);
    padding: 10px 20px;
    z-index: 99;
    display: block;
  }

  .sidebar-navigation > ul {
    margin-top: 40px;
  }

  li.nav-item {
    padding-bottom: 20px;
    font-family: "GreenpeaceSans";
  }


  a.nav-link::before,
  a.nav-link:hover::before,
  .active > a.nav-link::before {
    content: none;
  }

  a.nav-link {
    color: var(--grey-900);
    line-height: 1.7;
    font-weight: 700;
    padding: 4px 12px;
    border-radius: 4px;
  }

  a.nav-link:hover {
    color: var(--grey-900);
    background: var(--beige-200);
  }

  .active > .nav-link {
    background: var(--beige-300);
  }

  a.nav-link:visited {
    color: var(--grey-900);
  }

  li.nav-child {
    padding: 0;
    padding-left: 12px;
    font-family: "SourceSans3";
  }

  li.nav-child .nav-link,
  li.nav-item {
    text-transform: none;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
  }

  .nav-search {
    margin-top: 24px;
    position: relative;
    padding-inline-start: 15px;
  }

  #search_input {
    height: 40px;
    border: none;
    padding: 5px 10px;
    background-color: white;
    width: 100%;
    border-radius: 4px;
    color: black;
  }

  .nav-search-btn {
    position: absolute;
    border: none;
    font-size: 1.25rem;
    line-height: 22px;
    background: white;
    color: var(--grey-900);
    top: 4px;
    right: 4px;
  }
}

.page-header {
  padding-top: 104px;
}

.ideapush-has-yellow-background-color {
  background-color: #FFF6BD;
}

.mark, mark {
  padding: 0 .2em;
}

:root {
  --nav-link--color: #fff;
  --nav-link--visited--color: #fff;
}
